/* Staff */

#staff {
  padding: 3rem 4rem 1rem 4rem;
  text-align: center;
  max-width: 1440px;
  margin: 0 auto;
}

.about-header h1 {
  font-size: 2.5rem;
}

.about-header p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.trainers {
  /* text-align: center; */
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.trainer {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 1rem;
  z-index: -1;
}

.trainer p {
  margin: 1rem 0 1rem 0;
}

.reach {
  display: flex;
  gap: 0.8rem;
  align-items: center;
  justify-content: center;
  color: var(--primary-color);
}

.trainer-img {
  padding: 1rem;
  max-height: 400px;
  width: auto;
  height: 275px;
}

.trainer-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 12% 28%;
}

@media screen and (min-width: 700px) {
  #staff {
    height: 100vh;
  }

  .trainers {
    align-items: center;
  }

  .trainer {
    flex-basis: 23%;
    max-height: 500px;

    height: 472px;
  }

  .trainer-img img {
    filter: grayscale(100%);
  }

  .trainer:hover .trainer-img img {
    filter: grayscale(0);
  }
}
